/*Page Banner*/
.pageBanner {
    background: url('../images/ban-faq.png')center center;
    background-size: cover;
}
.PageTitle {
    height: 304px;
}
@media (max-width: 992px) {  /*pad*/
    h5 {
        font-size: 16px;
        line-height: 24px;
    }
}
@media (max-width: 767px) {  /*mobile*/
    .PageTitle {
        height: 143px;
    }
}
/*content*/
.content {
    margin-top: 88px;
    margin-bottom: 156px;
}
.faqTitle {
    font-size: 32px;
    line-height: 63px;
}
.card {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    background-color: #F2F2F2;
}
.card-header {
    background-color: white;
    border-bottom: 1px solid #000000;
}