/*早春系列*/
.banner {
    background: url('../images/banner.png') center center no-repeat;
    height: 840px;
}
.slogan {
    text-align: right;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
.banner span {
    font-size: 36px;
    line-height: 54px;
}
/*用專業的心，做專業的事*/
.intro {
    padding-top: 64px;
    padding-bottom: 80px; 
    background-color: #AA06010D;
}
.intro ul{
    padding-top: 60px;
}
.intro li {
    width: 208px;
}
@media (max-width:992px) {   /*pad*/
    .intro li {
        width: 324px;
        margin-bottom: 20px;
    }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img {
    padding-bottom: 40px;
}
/*經典系列鏡框*/
.classic {
    padding: 64px 0 80px 0;
}
.classic-block {
    margin-bottom: 32px;
}
@media (max-width:992px) {   /*pad*/
    .classic-block {
        margin-bottom: 8px;
    }
}
.classic li h3 {
    padding-left: 24px;
}
.sunglasses-img {
    filter: grayscale(100%);
    transition: all .3s;
} 
.sunglasses-img:hover {
    filter: none;
    transition: all .3s;
} 
.classic-item {
    width: 60%;
}
.classic-icon {
    width: 40%;
}
@media (max-width: 992px) {  /*pad*/
    .classic-item{
        width: 61%;
    }
    .classic-icon {
        width: 39%;
        order: 2;
    }
    .classic-icon img{
        width: 32px;
        height: auto;
    }
}
@media (max-width: 767px) {  /*mobile*/
    .classic-item, .classic-icon{
        width: 100%;
    }
    .classic-icon{
        filter: brightness(500);
        position: absolute;
        z-index: 1;
        justify-content: center;
    }
}   
/*聯名設計鏡框*/
.co-branding {
    background: url(../images/img-bg.png) center center no-repeat;
    background-size: cover;
    padding: 64px 0 479px 0;    
}
.co-branding h3 {
    padding: 64px 0 60px 0;
    color: #ffffff;
}
.gallery-left {
    max-width: 33.4%;
    padding-right: 8px;
}
.gallery-right {
    max-width: 66.6%;
}
.galleryin-left {
    max-width: 20%;
    padding-right: 8px;
}
.galleryin-right {
    max-width: 80%;
}
@media (max-width: 767px) {  /*mobile*/
    .gallery-left, .gallery-right {
        max-width: 100%;
    }
}
.mr30 {
    margin-right: 30px;
}
@media (max-width: 767px) {  /*mobile*/
    .mr30 {
        margin-right: 0px;
    }
}
.DY-block {
    font-size: 72px;
    line-height: 108px;
    font-weight: 500;
    padding-top: 60px;
}
.more-img {
    background: url(../images/img5.png) center center no-repeat;
    padding: 31px 0;
}
.more-bg {
    background: #fff;
    margin-right: 10%;
    margin-left: auto;
}
.more-text::before, .more-text::after {
    content: 'MORE';
    position: absolute;
    transition: all .65s .3s;
    transform: translateY(0px);
    left: 0;
    top: -4px;
}
.more-text:hover::before {
    opacity: 0.7;
    transform: translateY(-85px);
}
.more-text:hover::after {
    opacity: 0.3;
    transform: translateY(-145px);
}
.square1 {
    background: url(../images/img6.png) center center no-repeat;
    width: 45%;
    height: 592px;
}

.square2 {
    background: url(../images/img7.png) center center no-repeat;
    width: 45%;
    height: 592px;
}
@media (max-width: 992px) {  /*pad*/
    .square1, .square2 {
        width: 324px;
        height: 280px;
    }
}
@media (max-width: 767px) {  /*mobile*/
    .square1, .square2 {
        width: 352px;
        height: 284px;
    }
}
.square-text p {
    font-size: 72px;
    line-height: 108px;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%);
}
.square-text::before {
    transition: all .6s;
    opacity: 0;
}
.square-text:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: 0.5;
    transition: all .6s;
}
/*顧客推薦*/
.customer {
    padding-bottom: 80px;
    margin-top: -335px;
}
.customer h3 {
    color: #ffffff;
}
.cus {
    width: 23%;
    border: 1px solid #DEE2E6;
    background: #ffffff;
}
@media (max-width: 992px) {  /*pad*/
    .cus {
        width: 49%;
    }
}
.cus-text {
    padding: 12px;
    
}
.card-name {
    font-size: 16px;
    line-height: 21px;
    padding: 16px 0;
    font-weight: 500;
}
.cus-content {
    font-size: 16px;
    line-height: 24px;
}
.cus-time {
    color: #707070;
    font-size: 16px;
    line-height: 21px;
}
/*聯絡我們*/
.contact {
    background-color: #AA06010D;
    padding: 64px 0 92px 0;
}
.contact h3{
    margin-bottom: 24px;
}
form {
    max-width: 792px;
    margin: 0 auto;
}
input[type="text"] {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 16px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
}
input[type="text"]::placeholder,
textarea::placeholder {
    opacity: 0.2;
}
textarea {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 16px;
    width: 100%;
    height: 136px;
    margin-top: 4px;
    border: 1px solid #000000;
}
input[type="checkbox"] {
    margin-top: 16px;
    margin-bottom: 40px;
}
input[type="submit"] {
    width: 100%;
    height: 54px;
    border-radius: 0;
    margin: 0 auto;
    display: block;
    background: #AA0601;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    transition: all .3s;
    cursor: pointer;
    border: 0;
}
input[type="submit"]:hover {
    background: #650300;
}