/*tab menu*/
.classic-icon {
    width: 33.3%;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 39px;
    line-height: 63px;
    border: 1px solid #DCDCDC;
    transition: all .3s;
    font-weight: 500;
}
@media (max-width: 992px) {  /*pad*/
    .classic-icon {
        font-size: 28px;
        line-height: 42px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .classic-icon img {
        width: 32px;
        height: 32px;
    }
}
@media (max-width: 767px) {  /*mobile*/
    .classic-icon {
        font-size: 14px;
        line-height: 19px;
    }
    .classic-icon img {
        width: 15px;
        height: 15px;
    }
}
.classic-icon:hover {
    color: #AA0601;
    padding-bottom: 8px;
    border-bottom: 16px solid #AA0601;
    transition: all .3s;
}
.classic-icon img{
    filter: brightness(0);
}
.classic-icon:hover img{
    filter: brightness(1);
}
.tab-img li {
    width: 49%;
}
/*產品頁*/
.en-title {
    font-size: 42px;
    line-height: 63px;
}
.ch-title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 100;
}
.products-blog li {
    width: 23.5%;
    margin-bottom: 104px;
}
@media (max-width: 992px) {  /*pad*/
    .products-blog li {
        width: 43.5%;
        margin-bottom: 72px;
    }
}
@media (max-width: 767px) {  /*mobile*/
    .products-blog li {
        width: 98.5%;
        margin-bottom: 32px;
    }
}
.products-square {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.PageNavigation {
    padding-bottom: 156px;
}
.PageNavigation li{
    font-size: 18px;
    line-height: 48px;
    border: 1px solid #555555;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 767px) {  /*mobile*/
    .PageNavigation li{
        font-size: 11px;
        line-height: 32px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.PageNavigation .active {
    background: #000;
}
.PageNavigation .active a {
    color: #fff;
}