/*content*/
* {
    position: relative;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial,
    sans-serif;
}
a {
    text-decoration:none;
}
h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 96px;
}
h3 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
    margin-bottom: 60px;
}
h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}
p {
    font-size: 16px;
    line-height: 24px;
}
img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}
@media (max-width: 992px) {  /*pad*/
    h2 {
        font-size: 32px;
        line-height: 72px;
    }
    h3 {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 32px;
    }
}
.pt-1 {
    padding-top: 8px;
}
.mt-1 {
    margin-top: 8px;
}
.mb-0 {
    margin-bottom: 0;
}
/*layout*/
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.text-center {
    text-align: center;
}
.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 12px;
}
@media (max-width: 992px) {  /*pad*/
    .container {
        max-width: 768px;
        padding: 0 48px;
    }
}
@media (max-width: 767px) {  /*mobile*/
    .container {
        max-width: 376px;
        padding: 0 12px;
    }
}

/*color*/
.red-background {
    background: #AA0601;
}
.text-cackground a{
    color: #fff;
    padding: 0 32px;
}
.red-color {
    color: #650300;
}
.redlight-color {
    color: #AA0601;
}
.black-color {
    color: #000;
}
/*header*/
header {
    padding: 10px 0;
}
.humburger {
    display: none;
}
@media (max-width: 992px) {  /*pad*/
    header {
        padding: 28px 0;
    }
    .menu-m li{
        border: 1px solid #fff;
        padding: 16px 0;
    }
    .humburger {
        display: block;
    }
    .menu-d {
        display: none;
    }
}
@media (max-width: 767px) {  /*mobile*/
    header {
        padding: 0;
    }
}
header a {
    color: #ffffff;
    padding: 0 32px;
}
/*footer*/
.footer {
    padding: 36px 0 27px 0;
}
.footer a {
    color: #ffffff;
    padding-right: 48px;
}
.footer-text {
    font-size: 36px;
    line-height: 54px;
    color: #fff;
}
.footer-icon1 span {
    padding-right: 23px;
}
.footer-icon2 span {
    padding-right: 12px;
}
.footer-text{
    font-size: 48px;
    line-height: 54px;
}
@media (max-width: 992px) {  /*pad*/
    .footer-logo img{
        width: 24px;
    }
    .footer a {
        padding-right: 40px;
    }
    .footer-text{
        font-size: 36px;
    }
}